<div class="col">
  <div class="card shadow border-0 h-100">
    <img
      src="/images/food_guide_db/food/{{food_image}}"
      class="card-img-top"
      alt="{{food_image}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">
        {{description}}
      </p>
    </div>
    <div class="card-footer p-3">
      <button
        type="button"
        class="btn btn-outline-warning me-3 btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal{{id}}"
      >
        Check
        {{name}}
        recipe
      </button>
      <a href="" class="btn btn-outline-danger btn-sm"><i
          class="far fa-heart"
        ></i></a>

      {{!-- <a href="/countries/food/{{id}}" class="btn btn-outline-warning m-3"> Check {{name}} recipe</a> --}}

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal{{id}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{name}}
                Recipe</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <h5 class="card-title">Ingredients</h5>
                <p class="card-text">
                  {{recipe.ingredients}}
                </p>
              </div>
              <div class="card-body">
                <h5 class="card-title">Steps</h5>
                <p class="card-text">
                  {{recipe.steps}}
                </p>
              </div>

              <div class="card-body">
                <h5 class="card-title">Video Tutorial</h5>
                <iframe
                  id="player"
                  type="text/html"
                  width="640"
                  height="390"
                  src="http://www.youtube.com/embed/{{recipe.video_link}}"
                  frameborder="0"
                ></iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>