<div class="col">
  <div class="card shadow border-0 h-100">
    <img
      src="/images/food_guide_db/food/{{food_image}}"
      class="card-img-top"
      alt="Skyscrapers"
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">
        {{description}}
      </p>
    </div>
    <div class="card-footer">
      <a href="/countries/food/{{food.id}}" class="btn btn-outline-warning m-3"> Check {{name}} recipe</a>
    </div>
  </div>
</div>